<div class="social-container">
  <a class="icon-facebook social-icon" href="#" target="_blank"
    ga-on="click"
    ga-event-category="Share"
    ga-event-action="facebook"
    ga-event-label="<%= articleUrlPath %>">
  </a>
    <!-- Add twitter  -->
    <!-- Add pintrest  -->
    <!-- Add linkedin  -->
    <!-- Add mailto  -->

</div>

<div class="tags-container">
  <div class="tags">
  {{ range .Params.tags }}
    {{ . }}&nbsp;
  {{ end }}
  </div>
  <img class="tags-pin" src="https://images.contentful.com/awpxl2koull4/6YLMyJkVLaWA8giwgIaqIe/1127aa4d12a5121257b3318d3d06dc4e/tag-pin.png">
</div>
