/**
 * Font mixins and variables from v2.
 */
.font-poppins() {
  font-family: 'Poppins';
  font-weight: 400;
}
.font-poppins-bold() {
  font-family: 'Poppins';
  font-weight: 900;
}

@font-category-card-tag: 10px;

/**
 * Font mixins and variables from v1.
 * Remove as they become obsolete
 */


 @font-face {
   font-family: 'Glacial Indifference';
   src: url('/fonts/GlacialIndifference-Regular.otf');
 }

 @font-face {
   font-family: 'Glacial Indifference';
   font-weight: bold;
   src: url('/fonts/GlacialIndifference-Bold.otf');
 }

.font-caveat() {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
}

.font-karla() {
  font-family: 'Karla';
  font-weight: 400;
}

.font-karla-bold() {
  font-family: 'Karla';
  font-weight: 700;
}

.font-blockquote() {
  font-family: 'Glacial Indifference';
  font-weight: 700;
}

.font-section-title() {
  font-family: 'Glacial Indifference';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 1.33px;
}

.font-section-subtitle() {
  font-family: 'Glacial Indifference';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.33px;
}

@font-size-xl: 86px;
@font-size-header: 42px;
@font-size-subtitle: 24px;
@font-size-normal: 18px;
@font-size-btn: 18px;
@font-size-input: 24px;
@font-size-label: 14px;
@font-size-label-sm: 11px;
@font-size-sm: 14px;

@font-size-advice-home-subtitle: 36px;
@font-size-advice-home-subtitle-sm: 32px;

@font-size-article-title: 54px;
@font-size-article-ol: 48px;
@font-size-article-section-title: 36px;
@font-size-article-body: 18px;
@font-size-article-blockquote: 32px;
@font-size-article-blockquote-xs: 24px;
@font-size-article-preview-category: 18px;
@font-size-article-preview-title: 28px;
@font-size-article-preview-author: 24px;
@font-size-author-bio: 24px;
@font-size-author-name: 36px;

@font-size-featured-title: 34px;
@font-size-featured-title-md: 30px;
@font-size-featured-title-sm: 26px;
@font-size-featured-subtitle-sm: 22px;
@font-size-featured-title-xs: 22px;
@font-size-featured-subtitle-xs: 20px;
@font-size-featured-normal-xs: 16px;

@font-size-homepage-normal: 22px;
@font-size-homepage-normal-xs: 20px;
@font-size-homepage-testimonial-credit: 20px;


/**
  * Article Card Fonts
 */
 @article-card-author-name-max: 18px;
 @article-card-author-name-min: 12px;
 @article-card-title-max: 24px;
 @article-card-title-min: 18px;
