node_modules
.DS_Store
public
hugo/data/path/manifest.json

hugo/content/author/*
hugo/content/author/*.test.md
hugo/content/post/*
hugo/static/promoted.json
hugo/content/post/*.test.md
config/hugo.config.toml
