<div class="join-bar-article">
    <div class="join-message-article">Join the Shine Squad</div>
    <img src="https://images.ctfassets.net/awpxl2koull4/6Uev3DXZslI1qBDgzCwKZG/cceab49f9431dcb68441dcef39d5d619/community-phone-small.png
    "/>
    <div class="join-message-description">Get real-time advice, lift up others, and feel connected to kind, motivated people across the world.</div>
    <a href="https://www.theshineapp.com/promo/shine-squad-40?utm_source=Shine&utm_medium=Article&utm_campaign=Join_Bar">
      <div class="signup-button-article">Join and Get 40% Off</div>
    </a>
</div>
