<div class="join-bar-article">
    <div class="join-message-article">Join the Shine Squad</div>
    <img src="https://premium.shinetext.com/static/media/community.33f9ec99.png"/>
    <div class="join-message-description">Get real-time advice, lift up others, and feel connected to kind, motivated people across the world.</div>
    <a href="https://premium.shinetext.com/promo/shine-squad?utm_source=Shine&utm_medium=Article&utm_campaign=Join_Bar">
      <div class="signup-button-article">Join and Get 50% Off</div>
    </a>
</div>
