{{ if .Params.metaTitle }}
<meta property="og:title" content="{{- .Params.metaTitle }}" />
{{ else if .Title }}
<meta property="og:title" content="{{- .Title }}" />
{{ else }}
<meta property="og:title" content="{{- .Site.Title }}" />
{{ end }}
{{- with .Params.description }}
<meta property="og:description" content="{{ . }}" />
{{- end }}
{{- with .Params.image }}
<meta property="og:image" content="https:{{ . }}?w=1200" />
{{- end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="Shine" />
