{{ if .Params.metaTitle }}
<meta property="twitter:title" content="{{- .Params.metaTitle }}" />
{{ else if .Title }}
<meta property="twitter:title" content="{{- .Title }}" />
{{ else }}
<meta property="twitter:title" content="{{- .Site.Title }}" />
{{ end }}
{{- with .Params.description }}
<meta property="twitter:description" content="{{ . }}" />
{{- end }}
{{- with .Params.image }}
<meta property="twitter:image" content="https:{{ . }}?w=1200" />
{{- end }}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@TheShineApp" />