.card {
	background: white;
	margin-bottom: @margin-sm;

	.card-container {
	  display: flex;
	  flex-direction: row;
		flex-grow: 1;
		color: black;
		text-decoration: none;
	  box-shadow: 1px 1px 8px hsl(0, 0%, 70%);

		.thumbnail {
		    height: 350px;
		    overflow: hidden;
				padding: 0;
				align-items: center;
				margin-bottom: 0;
		    img {
		      display: block;
					height: 100%;
		      width: 120%;
		    }
		  }
	}
	.card-container:hover {
		text-decoration: none;
	}
}

.card-category {
		position: absolute;
		background: @color-category-card-tag-background;
		padding: 10px 15px;
		margin-top: 315px;
		color: @color-category-card-tag-font;
		font-size: @font-category-card-tag;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 2%;
		z-index: 1;
	}

.card-content {
  flex: 0 0 50%;
	padding: 0 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  .font-poppins-bold;
  align-items: flex-start;
	margin-top: 0;
	margin-bottom: @margin-sm;
	font-weight: normal;
}

.card-subtitle {
  .font-poppins;
  display: flex;
  justify-content: space-between;
}

// /* Flexbox styles */

@media screen and (min-width: @screen-sm-min) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: @screen-md-min) {
    .cards {
      margin-top: inherit;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  .card {
    margin-bottom: 2em;
    display: flex;
		flex-direction: column;
    flex: 0 1 calc(32%);
    /* width: calc(33% - 1em); */
    .card-container {
      flex-direction: column;
    }
  }
	.card-subtitle {
		margin-bottom: 2em;
	}
} /* mq 60em*/
