.popular-articles-container {
  display: flex;
  flex-direction: column;
  .-featured {
    margin-left: -15px;
    margin-right: -15px;
    -webkit-flex: 3.1;
  }
  .-mini {
    -webkit-flex: 1;
  }

  @media screen and (min-width: @screen-xs-max) {
    // set views for featured elelment on regular ipad/galaxy screens
  }

  @media screen and (min-width: @screen-md-min) {
    margin-top: @margin-md + @margin-sm;

    flex-direction: row;
    .-featured {
      margin-left: initial;
      margin-right: initial;
      .featured-article-preview .-article-image img {
        height: @thumbnail-min-height*3;
      }
      .join-message {
        font-size: 26px;
      }
    }
    .-mini {
      margin-left: @margin-sm + @margin-xs;
      .card .card-container {
        .thumbnail {
        }
      }
      .card .card-category {
      }
    }
  }
}
