// Shine Squad Line seperator
.shine-squad-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-transform: uppercase;
  .line-separator {
    width: 42%;
  }
  .line-separator:first-child {
    margin-left: 0;
    margin-right: @margin-sm;
  }
  h3 {
    .font-poppins-bold;
    font-size: 24px;
    letter-spacing: .1em;
  }
}

// Shine Squad Cards
.shine-squad-cards {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .-card:hover {
    text-decoration: none;
  }
  .-card {
    color: inherit;
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: @margin-sm;
    height: 275px;
    width: 275px;
    .box-shadow;
    width: 100%;
    .-image {
      padding: @margin-xs;
      border-radius: 50%;
      height: 75px;
      width: 75px;
    }
    .-testimonial {
      padding: @margin-xs;
      .font-poppins-bold;
      text-align: center;
      font-size: @article-card-title-min;
    }
    .-name {
      .font-poppins;
      text-transform: uppercase;
      letter-spacing: .1em;
      text-align: center;
      font-size: @article-card-author-name-min;
      color: @article-card-subtitle-color;
    }
  }
  // Media Queries
  @media screen and (min-width: @screen-xs-max) {
    .-card {
      height: @thumbnail-min-height*2;
      flex-basis: 50%;
      .-image {
        height: 100px;
        width: 100px;
      }
      .-testimonial {
        font-size: @article-card-title-max + 2px;
      }
      .-name {
        font-size: @article-card-author-name-max;
      }
    }
  }
  @media screen and (min-width: @screen-sm-max) {
    .-card {
      flex-basis: 25%;
    }
  }
}
@media screen and (min-width: @screen-xs-max) {
  .shine-squad-cards {
    justify-content: center;
  }
}

.shine-squad-section .join-bar {
  margin-top: @margin-sm;
  margin-bottom: @margin-md;
}
