{{ define "main" }}
<div role="main" id="advice-home">
  <div id="featured-container">
    {{ range where .Site.Pages "Section" "==" "post" }}
      {{ if .Params.featured }}
        {{ .Render "featured_article" }}
      {{ end }}
    {{ end }}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="recent-posts-title">
        <div class="recent-posts-icon"></div>
        <h2>Latest Articles</h2>
        <div class="recent-posts-description">Authentic advice from <em>real</em> people on living your best life.</div>
      </div>
    </div>
    <div class="row">
      <div id="recent-articles">
        <div class="recent-artices">
          {{ range where .Site.Pages "Section" "==" "post" }}
            {{ .Render "article_card_preview" }}
          {{ end }}
        </div>
      </div>
    </div>
    <div id="read-more" ga-on="click" ga-event-category="Behavior" ga-event-action="Read More">Read More</div>
  </div>
</div>
{{ end }}
