{{ if .Params.facebook }}
<a class="fab fa-facebook-f social-icon fb-icon" href="https://www.facebook.com/{{ .Params.facebook }}" target="_blank"></a>
{{ end }}
{{ if .Params.twitter }}
<a class="fab fa-twitter social-icon pinterest-icon" href="https://www.twitter.com/{{ .Params.twitter }}" target="_blank"></a>
{{ end }}
{{ if .Params.instagram }}
<a class="fab fa-instagram social-icon instagram-icon" href="https://www.instagram.com/{{ .Params.instagram }}" target="_blank"></a>
{{ end }}
{{ if .Params.linkedin }}
<a class="fab fa-linkedin-in social-icon mail-icon" href="https://www.linkedin.com/in/{{ .Params.linkedin }}" target="_blank"></a>
{{ end }}
