{{ if .Params.facebook }}
<a class="-social-link" href="https://www.facebook.com/{{ .Params.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
{{ end }}
{{ if .Params.twitter }}
<a class="-social-link" href="https://www.twitter.com/{{ .Params.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
{{ end }}
{{ if .Params.instagram }}
<a class="-social-link" href="https://www.instagram.com/{{ .Params.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
{{ end }}
{{ if .Params.instagram }}
<a class="-social-link" href="https://linkedin.com/in/{{ .Params.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
{{ end }}
