@margin-lg: @margin-md * 2;
@margin-md: 40px;
@margin-sm: @margin-md / 2;
@margin-xs: 10px;

/* Bootstrap breakpoints */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

/* Advice page constants */
@article-header-height: 412px;
@article-preview-height: 360px;
@featured-author-photo-size: 70px;
@featured-container-height: 450px;