<div class="article-preview col-xs-12 col-sm-4" data-100-bottom-top="transform: translate3d(0px,25%,0px)" data-bottom-bottom="transform: translate3d(0px,0%,0px)">
  <a href={{ .Permalink }}>
    <div class="article-photo">
      <img src={{ .Params.image }} />
    </div>
    <div class="author-photo">
      <img src={{ .Params.image }} />
    </div>
    <div class="article-preview-text">
      <div class="article-category">
        {{ range .Params.categories }}
        <a href="{{ $.Site.LanguagePrefix }}/categories/{{ . | urlize }}">{{ . }}</a>&nbsp; {{ end }}
      </div>
      <div class="article-title">{{ .Params.title }}</div>
      <div class="author-name">By {{ .Params.author }}</div>
    </div>
  </a>
</div>
