<a href={{ .Permalink }}>
  <div class="featured-preview">
    <!-- Loop through posts and find featured article -->
    <div class="article-photo" style="background-image: url({{ .Params.image }});"></div>
    <div class="featured-preview-text">
      <div>
        <div class="featured-category-icon"></div>
        <div class="featured-category">Hot Read of the Day</div>
      </div>
      <div class="article-container">
        <div class="article-title">{{ .Params.title }}</div>
        <div class="article-description">{{ .Title }}</div>
      </div>
      <div class="author-container">
        <div class="author-photo">
          <img src={{ .Params.image }}>
        </div>
        <div class="author-name">By {{ .Params.author }}</div>
      </div>
    </div>
  </div>
</a>
