{{ define "header" }}
<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      {{ partial "latest_header.html" }}
    </div>
  </div>
  </div>
  </div>
</header>
{{ end }} {{ define "main" }}
<div class="container" role="main">
    <section class="cards">
      {{ range .Paginator.Pages }}
        {{ partial "article_card_preview.html" . }}
      {{ end }}
    </section>
    {{ partial "join_bar.html" }}
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
      <li class="previous">
        <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
      </li>
      {{ end }} {{ if .Paginator.HasNext }}
      <li class="next">
        <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
