{{ define "header" }}
<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      {{ partial "latest_header.html" }}
    </div>
  </div>
  </div>
  </div>
</header>
{{ end }} {{ define "main" }}

{{ $sp := .Site.Params }}
{{ if and (isset $sp "Post") (isset $sp.Post "infinite_scroll") }}
    {{ with $sp.Post.infinite_scroll }}
        {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "infinite_scroll" false }}
{{ end }}

{{ if eq ($.Scratch.Get "infinite_scroll") false }}
    {{ with $sp.infinite_scroll }}
        {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
    {{ else }}
        {{ $.Scratch.Set "infinite_scroll" false }}
    {{ end }}
{{ end }}

{{ $infinite_scroll := $.Scratch.Get "infinite_scroll" }}

<div class="container" role="main">
    <section class="cards {{ if $infinite_scroll }}infinite-scroll{{ end }}">
      {{ if .IsNode }}
        {{ range .Paginator.Pages }}
          {{ partial "article_modules/article_card_preview.html" . }}
        {{ end }}
      {{ end }}
    </section>
  {{ partial "extra/join_bar.html" }}
  {{ partial "extra/paginator.html" . }}
</div>
{{ end }}
