{{ define "header" }}
<header class="header-section ">
  {{ if in .URL "author" }}
    {{ partial "extra/author_banner.html" . }}
  {{ else }}
  <div class="intro-header no-img">
    <div class="container list-page">
      {{ if in .URL "care" }}
        {{ partial "extra/latest_header.html" "care" }}
      {{ else if in .URL "chill" }}
        {{ partial "extra/latest_header.html" "chill" }}
      {{ else if in .URL "grow" }}
        {{ partial "extra/latest_header.html" "grow" }}
      {{ else if in .URL "hustle" }}
        {{ partial "extra/latest_header.html" "hustle" }}
      {{ else if in .URL "play" }}
        {{ partial "extra/latest_header.html" "play" }}
      {{ else if in .URL "work" }}
        {{ partial "extra/latest_header.html" "work" }}
      {{ else }}
        {{ partial "extra/latest_header.html" "latest" }}
      {{ end }}
    </div>
  </div>
 {{ end }}
  </div>
  </div>
</header>
{{ end }} {{ define "main" }}
{{ $sp := .Site.Params }}
{{ if and (isset $sp "Post") (isset $sp.Post "infinite_scroll") }}
    {{ with $sp.Post.infinite_scroll }}
        {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "infinite_scroll" false }}
{{ end }}

{{ if eq ($.Scratch.Get "infinite_scroll") false }}
    {{ with $sp.infinite_scroll }}
        {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
    {{ else }}
        {{ $.Scratch.Set "infinite_scroll" false }}
    {{ end }}
{{ end }}

{{ $infinite_scroll := $.Scratch.Get "infinite_scroll" }}

<div class="container list-page" role="main">
    <section class="cards {{ if $infinite_scroll }}infinite-scroll{{ end }}">
      {{ if .IsNode }}
        {{ range .Paginator.Pages }}
          {{ partial "article_modules/article_card_preview.html" . }}
        {{ end }}
      {{ end }}
    </section>
  {{ partial "extra/join_bar.html" }}
  {{ partial "extra/paginator.html" . }}
</div>
{{ end }}
