{{ define "main" }}
<div id="shine-article">
  <div class="container-header" style="background-image: url({{ .Params.image }}?w=1920);">

  </div>
  <div class="main-article-content" style='padding-left:0;padding-right:0;background-color:white; margin-bottom:80px;'>
    <div class="pre-article-content">
      <div class="-header">
        <h1>{{ .Title }}</h1>
      </div>
      <div class="-author-section">
        {{ partial "article_modules/article_pre_article.html" . }}
      </div>
      <div class="-date">{{ .Date.Format "Jan 2, 2006" }}</div>
    </div>
    <div role="main" id="article-body">
      {{ .Content }}
    </div>
    <div class="post-article">
      {{ partial "article_modules/article_post_article.html" . }}
    </div>
    <div class="author-section">
      {{ partial "article_modules/article_author_section.html" . }}
    </div>
  </div>
  {{ partial "extra/join_bar_article.html" . }}
</div>
{{ end }}
