{{ define "main" }}
<div id="shine-article">
  <div class="container-header">
    <img class="-bgImage" src="{{ .Params.image }}"/>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 main-article-content" style='padding-left:0;padding-right:0;background-color:white; margin-bottom:80px;'>
    <div class="pre-article-content">
      <div class="-header">
        <h1>{{ .Title }}</h1>
      </div>
      <div class="-author-section">
        {{ partial "article_modules/article_pre_article.html" . }}
      </div>
    </div>
    <div role="main" id="article-body">
      {{ .Content | markdownify }}
    </div>
    <div class="post-article">
      {{ partial "article_modules/article_post_article.html" . }}
    </div>
    <div class="author-section">
      {{ partial "article_modules/article_author_section.html" . }}
    </div>
    {{ partial "article_modules/pubexchange_module.html" }}
  </div>
  {{ partial "extra/join_bar.html" . }}
</div>
{{ end }}
