@media print {
  /* Hide URLs from all the `a` tags */
  a[href]:after {
    content: none !important;
  }

  #footer {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

  .category-bar {
    display: none;
  }

  /* Make sure this is showing so that printed pages still get Shine branding */
  .navbar {
    display: block !important;
  }

  /* Hide Sumo sidebar */
  .sumome-share-client-wrapper {
    display: none !important;
  }

  #shine-article {
    #article-body {
      font-size: 14px;

      blockquote {
        border-right: 0;
        padding: 20px;

        p {
          font-size: 18px;
        }

        /* Hides the yellow triangle in blockquotes */
        p:before {
          content: none;
        }
      }

      .dropcap {
        font-size: 40px;
        padding-top: 0;
        padding-right: 4px;
      }
    }

    .container-header {
      display: none;
    }

    .join-bar-article {
      display: none;
    }

    .main-article-content {
      margin-top: 0;
    }

    .pre-article-content {
      .social-container {
        display: none;
      }
    }
  }
}
